@import 'variables';

@mixin hidden-bold-text {
  margin: 0;
  padding: 0;
  display: block;
  height: 0px;
  color: transparent;
  font-weight: $semi-bold;
  content: attr(text);
  overflow: hidden;
  visibility: hidden;
}

@mixin hr-thin-grey {
  height: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin title {
  display: inline-block;
  color: $grey-dark;
  font-weight: $light;
  text-transform: uppercase;
}